target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
logs/
/client/dist
/client/node_modules
.idea/

src/main/resources/static/assets
src/main/resources/static/index.html

.kotlin/*

newrelic/extension.xsd
newrelic/*.jar
